.create-todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.create-todo-heading {
    font-size: 20px;
    margin-bottom: 10px;
    color: #64cacf;
    font-weight: 300;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.add-todo-button {
    border: none;
    padding: 10px;
    letter-spacing: 5px;

}


.add-todo-button:hover {
    background-color: rgb(247, 137, 82);
    color: #fff;
    box-shadow: 0 0 5px #b382eb,
        0 0 25px #9681ff,
        0 0 50px #e968d1,
        0 0 100px #833af0;
    transform: scale(1.3);

}


#title {
    border: none;
    background: none;
    border: 1px solid white;
    border-style: none none solid none;
    padding: 10px 0px;
    margin: 0 auto;
    outline: none;
    font-size: 30px;
    color: bisque;

}