@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.search-todos-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.search-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.filter-select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.filter-select option {
    font-size: 14px;
}

.search-icon {
    margin-right: 5px;
}