h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: lighter;
    background-image: linear-gradient(90deg, #c090ff, #dbdbdb, #1fa4f1);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 3px #d0d5f6;
    animation: shine 2s ease-in-out infinite;
    background-size: 80% 100%;
    text-align: center;
}